<ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        <ion-label><h4>Home</h4></ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="chat">
        <ion-icon name="md-chatbubbles"></ion-icon>
        <ion-label><h4>Chat</h4></ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="about">
        <ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>
        <ion-label><h4>About</h4></ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="login">
        <ion-icon ios="ios-person" md="md-person"></ion-icon>
        <ion-label><h4>Login</h4></ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="config">
          <ion-icon ios="ios-settings" md="md-settings"></ion-icon>
        <ion-label><h4>Config</h4></ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>