.active-item {
    // border-left: 8px solid var(--ion-color-primary);
    border-left: 8px solid #0cc55f;   
    --ion-background-color:#D9D9D9; 
}

ion-title ion-img{
    width: 70%;
    height: auto;
}