.new-background-color{
    --background: #0cc55f;
}

ion-menu-button {
    color: white;
}

ion-title {
    color: white;
}

ion-row {
    width: 100%;
    height: auto;
}

.homeBtnLayour{
    margin-top:10%; 
}

.homeBtnLayour ion-button{
    width: 100%;    
    height: 45px;
    margin-top: 3%;  
    outline: none;  
}


.homeBtnLayour ion-col{
    text-align: center;
}

ion-icon{
    color: rgba($color: #000000, $alpha: 0.5);
    font-size: 22px;
}