<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row class="aboutImg">
      <ion-img width="100%" height="auto" src="assets/logodetail.png"></ion-img>
    </ion-row>
    <ion-row class="aboutTxt">
      <ion-text>
        <p>
          Trade Reversal LLC is a research publisher of a multi-newsletter network for all
          financial instrument types including Stocks, Options, and ETF’s. We offer a collection
          of specialized newsletters for active traders and longer term investors with different
          styles of trading (i.e. Swing Trading, Day Trading and Long term investing ); highly
          specialized newsletters that cover Technology stocks, Blue Chip stocks, Dividend
          stocks, Large Cap, Mid Cap and Small Cap stocks, Biotech, Channeling stocks and Volatile
          stocks. Specialized Sectors such as Biotech, Technology, Retail, Energy, Financial,
          Solar, Alternative Energy, Cloud Computing, 3D Printing and many others.
        </p>
        <p>&nbsp;</p>
        <h5>
          Our Proprietary Research
        </h5>
        <p>
          Our comprehensive proprietary research analysis method includes: technical, cycle,
          fundamental, float, risk, sentiment, broader market analysis along with market psychology.
          Our propriety research filters over 50 critical technical, cycle and fundamental
          criteria. We believe an aggregate comprehensive analytical approach is necessary
          to profit, lower overall risk, preserve capital and succeed in the investment markets.
        </p>
        <!-- <p>&nbsp;</p> -->
        <p>
          Our proprietary research method filter identifies a lower risk stock or ETF’s key
          reversal price point just before it moves significantly higher in price. Once these
          stocks turn up in price they have the potential for explosive high percentage gains.
          Our research objectives are to find the stocks and ETF’s that have the potential
          to Make us the most money in the shortest period of time, be listed daily on the
          NYSE or NASDAQ highest percentage gainers lists, and to control or eliminate RISK
          often associated with the investment markets. We believe our Proprietary research
          method helps us achieve these goals.
        </p>
        <!-- <p>&nbsp;</p> -->
        <p>
          Our research covers thousands of stocks including the hottest stocks traded and
          talked about on Wall Street today. NYSE and Nasdaq. This includes the DOW, SP
          500, Russell 2000, and AMEX.
        </p>
        <p>
          Our proprietary Short Term, Intermediate and Long Term research timeframes helps
          us as active traders or long term investors.
        </p>
        <!-- <p>&nbsp;</p> -->
        <p>
          Short term: 1-10 days including Day Trading, Swing trading, Wave Trading, Intraday
          Trading
        </p>
        <!-- <p>&nbsp;</p> -->
        <p>
          Intermediate Term: Once a stock moves from a Short to Intermediate cycle, we identify
          weekly or monthly technical trends and cycle buy price points allowing us to hold
          and profit better over longer periods
          <br />
          <br />
          Long term: Identify historical, oversold and multi-year cycle reversal buy price
          points for holding over longer time frames and selling at overbought, long term cycle
          profit peaks to avoid broader market corrections and bear markets.
        </p>
        <p>&nbsp;</p>
        <h5>

          Risk

        </h5>
        <p>
          Research and a lot of it is the only way one can truly reduce risk that can be controlled.
          Keep in mind I said reduce risk not eliminate it. Once you’ve taken a position in
          a stock you cannot completely eliminate 100% of the risk. No one can. So we focus
          on the risk that can be controlled and do it through our proprietary research.
        </p>
        <!-- <p>&nbsp;</p> -->
        <p>
          We Don’t Chase Stocks. Once we’ve pre-determined and identified a low risk stock
          reversal price point we then move in and establish a position and wait for that position
          to reach our objectives. Because we have so many stock choices every day, if we miss
          that price and the stock takes off without us we just move onto the next one. As
          soon as we identify a research stock idea we immediately pass it on to the subscriber.
        </p>
        <p>&nbsp;</p>
        <h5>
          Meet our team leader.
        </h5>
        <p>&nbsp;</p>

        <ion-row class="leaderImg">
          <ion-img width="100%" height="auto" src="assets/leader.jpg"></ion-img>
          <p>
            Timothy Stetin
          </p>
        </ion-row>
        <p>&nbsp;</p>
        <p>
          Timothy has 18 years of personal experience studying the financial markets. Formerly
          a cycle analysis financial radio talk show host and former Registered Investment
          Advisor. Winner of a CNBC “Beat the Street” stock picking contest. Tim left the business
          as a professional over ten years ago to focus on research only. He and his talented
          team have dedicated years and logged thousands of hours developing a highly specialized
          comprehensive proprietary research filtering method. This method works the same way
          across all financial instrument types such as stocks, options, ETF’s, commodities,
          futures, and currencies.
        </p>
      </ion-text>
    </ion-row>
  </ion-grid>
</ion-content>