.new-background-color{
    --background: #0cc55f;
}

ion-menu-button {
    color: white;
}

ion-title {
    color: white;
}

.aboutImg {
    text-align: center;
    padding: 0% 5%;
}

.aboutTxt {
    justify-content: flex-start;
}

.aboutTxt h5 {
    font-weight: 700;
}

.leaderImg {
    text-align: center;
    padding: 0% 18%;
    width: 100%;
}

.leaderImg ion-img {
    width: 100%;
}
.leaderImg p {
    width: 100%;
    margin-top: 5%;
}
