.new-background-color{
    --background: #0cc55f;
}

ion-menu-button {
    color: white;
}

ion-title {
    color: white;
}

.loginform {
    background-color: #F5F5F5;          
    padding:0px 4px 4px;   
    box-shadow: 2px 2px rgba(155, 151, 151, 0.4); 
}

.loginform ion-label {
    margin-left:4%;
    margin-top: 5%;
    margin-bottom:3%;
    font-size: 20px;
    font-weight: 700;
    color: rgba($color: black, $alpha: 0.7);
    font-weight: 700;
}

ion-row {    
    border-radius: 7px;     
    width: 100%;  
}

.emailAuth{
    text-align: center;
}

.emailAuth ion-text{
    width: 100%;
    margin-top: 2%;
    color: red;        
}
.hiddenTxt {
    display: none;
}

.blink {
    animation: blink 1s linear infinite;
}

@keyframes blink {
    50%{opacity: .5;}
    100%{opacity: 1;}
}

.loginform ion-row{
    background-color: white;   
    border-radius: 0px;
}

.addBorder {
    border-color: red;
    color: red;
}

.loginform ion-button {
    background-color: #0cc55f;
    width: 100%;
    margin: 3% 2% 5%;
    text-align: center;    
    border-radius: 7px;
}

ion-input {
    width: 100%;
    border-bottom: 1px solid rgba(00, 00, 00, 0.2);
    margin: 2%;
    margin-top: 3%;    
}

.formpanelpadding {
    margin-top: 8%;
}